fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9
python-dotenv==1.0.1
pymupdf==1.24.3
langchain==0.2.1
langchain-text-splitters==0.2.1
sentence-transformers==2.7.0
faiss-cpu==1.8.0
groq==0.9.0
rouge-score==0.1.2
bert-score==0.3.13
pandas==2.2.2
numpy==1.26.4
torch==2.3.0
transformers==4.41.2
aiofiles==23.2.1
httpx==0.27.0
